Repository NixOS/nix.dev, changes with the owners that .github/CODEOWNERS names for each.
All owners: @domenkozar, @fricklerhandwerk, @zmitchell

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file is used to describe who owns what in this repository. This file does not
# replace `meta.maintainers` but is instead used for other things than derivations
# and modules, like documentation, package sets, and other assets.
#
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.
#
# IMPORTANT NOTE: in order to actually get pinged, commit access is required.
# This also holds true for GitHub teams. Since almost none of our teams have write
# permissions, you need to list all members of the team with commit access individually.

# This file
.github/CODEOWNERS @domenkozar

# Dependabot
.github/dependabot.yml @domenkozar

# GitHub Actions
.github/workflows/ @domenkozar

# Meta-documentation
CONTRIBUTING.md @domenkozar
LICENSE.md @domenkozar
README.md @domenkozar @fricklerhandwerk
cla/ @domenkozar

# GitPod
.gitpod* @domenkozar

# gitignore
.gitignore @domenkozar

# Nix machinery
*.nix @domenkozar
flake.lock @domenkozar

# Python machinery
poetry.lock @domenkozar
pyproject.toml @domenkozar

# Build and run machinery
Makefile @domenkozar
live* @domenkozar
runtime.txt @domenkozar
run_code_block_tests.sh @domenkozar
.imgbogconfig @domenkozar

# Documentation sources
source/ @domenkozar @fricklerhandwerk

# Working group docs
maintainers/working_groups/learning_journey/ @zmitchell

Add information about installing nix by pacman (#399)
  source/tutorials/install-nix.md
Owners: @domenkozar, @fricklerhandwerk

refine justification for the budget
  maintainers/google-season-of-docs-2023.md
Owners: none

remove WIP note
  maintainers/google-season-of-docs-2023.md
Owners: none

reiterate on closing a possible funding gap
  maintainers/google-season-of-docs-2023.md
Owners: none

fix typos
  maintainers/google-season-of-docs-2023.md
Owners: none

NIX_PATH includes nixpkgs in cross-compilation.md
  source/tutorials/cross-compilation.md
Owners: @domenkozar, @fricklerhandwerk

Fix spelling
  maintainers/working_groups/learning_journey/README.md
Owners: @zmitchell

Add doc structure proposal
  maintainers/working_groups/learning_journey/README.md
  maintainers/working_groups/learning_journey/documentation-structure.md
Owners: @zmitchell

Replace deleted Diataxis reference
  maintainers/working_groups/learning_journey/README.md
Owners: @zmitchell

Tweak tutorial structure
  maintainers/working_groups/learning_journey/documentation-structure.md
Owners: @zmitchell
