Repository NixOS/nix.dev, changes with the owners that .github/CODEOWNERS names for each.
All owners: @NixOS/documentation-reviewers, @asymmetric, @infinisil, @alejandrosame, @proofconstruction, @olafklingt, @henrik-ch

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file is used to describe who owns what in this repository. This file does not
# replace `meta.maintainers` but is instead used for other things than derivations
# and modules, like documentation, package sets, and other assets.
#
# For documentation on this file, see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.
#
# IMPORTANT NOTE: in order to actually get pinged, commit access is required.
# This also holds true for GitHub teams. Since almost none of our teams have write
# permissions, you need to list all members of the team with commit access individually.

* @NixOS/documentation-reviewers

/.github/workflows/ @asymmetric

/source/tutorials/file-sets.md @infinisil
source/guides/recipes/dependency-management.md @infinisil
source/guides/recipes/python-environment.md @alejandrosame
source/tutorials/module-system @infinisil @asymmetric @proofconstruction
source/tutorials/packaging-existing-software.md @proofconstruction

/source/tutorials/integration-testing-using-virtual-machines.md @olafklingt
/source/tutorials/nixos-configuration-on-vm.md @olafklingt

/maintainers/documentation-survey.md @henrik-ch

move to the nix.dev section
  source/contributing/documentation/index.md
Owners: @NixOS/documentation-reviewers

reword tutorial-writing guide (#917)
  source/contributing/documentation/writing-a-tutorial.md
Owners: @NixOS/documentation-reviewers

move article description to the right place, add another one
  source/recommended-reading.md
Owners: @NixOS/documentation-reviewers

move flake questions to the flake page
  source/concepts/faq.md
  source/concepts/flakes.md
Owners: @NixOS/documentation-reviewers

update flake trade-offs, add more links for reference
  source/concepts/faq.md
  source/concepts/flakes.md
  source/recommended-reading.md
Owners: @NixOS/documentation-reviewers

clarify difference between channels and the registry
  source/concepts/flakes.md
Owners: @NixOS/documentation-reviewers

move flake questions to the flake page
  source/concepts/faq.md
  source/concepts/flakes.md
Owners: @NixOS/documentation-reviewers

clarify difference between channels and the registry
  source/concepts/flakes.md
Owners: @NixOS/documentation-reviewers

update flake trade-offs, add more links for reference
  source/concepts/faq.md
  source/concepts/flakes.md
  source/recommended-reading.md
Owners: @NixOS/documentation-reviewers

link to the Nix reference manual on string interpolation
  source/guides/faq.md
Owners: @NixOS/documentation-reviewers

link to the Nix reference manual on string interpolation
  source/guides/faq.md
Owners: @NixOS/documentation-reviewers

introduce eelco, a doctester
  .github/workflows/test.yml
  default.nix
  nix/sources.json
  source/_ext/nix_repl_workaround.py
  source/conf.py
  source/guides/best-practices.md
  source/guides/faq.md
  source/guides/recipes/dependency-management.md
  source/guides/recipes/direnv.md
  source/guides/recipes/sharing-dependencies.md
  source/reference/pinning-nixpkgs.md
  source/tutorials/cross-compilation.md
  source/tutorials/first-steps/declarative-shell.md
  source/tutorials/first-steps/towards-reproducibility-pinning-nixpkgs.md
  source/tutorials/nix-language.md
  source/tutorials/nixos/building-and-running-docker-images.md
  source/tutorials/nixos/building-bootable-iso-image.md
  source/tutorials/nixos/deploying-nixos-using-terraform.md
  source/tutorials/nixos/installing-nixos-on-a-raspberry-pi.md
  source/tutorials/nixos/integration-testing-using-virtual-machines.md
  source/tutorials/nixos/nixos-configuration-on-vm.md
  source/tutorials/packaging-existing-software.md
Owners: @asymmetric, @NixOS/documentation-reviewers, @infinisil, @proofconstruction

Fix typo
  source/tutorials/nixos/integration-testing-using-virtual-machines.md
  source/tutorials/packaging-existing-software.md
Owners: @NixOS/documentation-reviewers, @proofconstruction

change file sets tutorial URL to match document title
  _redirects
  source/guides/recipes/python-environment.md
  source/tutorials/index.md
  source/tutorials/working-with-local-files.md
Owners: @NixOS/documentation-reviewers, @alejandrosame

change file sets tutorial URL to match document title
  _redirects
  source/guides/recipes/python-environment.md
  source/tutorials/index.md
  source/tutorials/working-with-local-files.md
Owners: @NixOS/documentation-reviewers, @alejandrosame

Fix typo in packaging-existing-software.md
  source/tutorials/packaging-existing-software.md
Owners: @proofconstruction

Error in git command to copy
  source/tutorials/packaging-existing-software.md
Owners: @proofconstruction

update examples to latest release of 23.11 (#913)
  source/guides/recipes/dependency-management.md
  source/guides/recipes/direnv.md
  source/guides/recipes/python-environment.md
  source/guides/recipes/sharing-dependencies.md
Owners: @infinisil, @NixOS/documentation-reviewers, @alejandrosame

Fix typo (#921)
  source/tutorials/nixos/integration-testing-using-virtual-machines.md
  source/tutorials/packaging-existing-software.md
Owners: @NixOS/documentation-reviewers, @proofconstruction
